
  <form action='/tweets' method="post">
    <input type="hidden" name="_method" value="patch">
    Content:
    <input type="text" name="content" value="<%= @tweet.content %>">
    <input type="submit" name="submit" id="submit">
</form>