<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Welcome to Fwitter!<h1>
    <div class="container">

      <%= yield %>

    </div>

  </body>
  <footer>
    <br>
    <a href="/"><button type="button">Home</button></a>
  </footer>
</html>