<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <%= yield %>

  </body>
  <br>
  <br>
  <footer>
    <% if logged_in? %>
      <a href="/logout">Log Out</a>
    <% else %>
      <a href='/login'>Log In</a>
    <%end%>
  <br>
  <a href="/"><button type="button">Home</button></a>
  </footer>
</html>
